<header class="header">
    <nav class="header_nav">
        <ul>
            <li><a href="/" class="headerLogo">
                <img src="/images/white_logo.png" alt="Welcome">
            </a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/booking">Book a class</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/viewbooking">View booking</a></li>
            <li><a href="/reports">Reports</a></li>
        </ul>
    </nav>
</header>