<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" defer src="/javascripts/script_index.js"></script>
</head>
<div class="container"></div>
<!-- EJS include the content of another EJS file, dash indicates the content should be raw HTML-->
<%- include('./partials/header.ejs') %>
<body>
<h3 id="aboutus">About us</h3>
<p id="aboutus_sample">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Rhoncus mattis rhoncus urna neque viverra justo nec. Quisque non tellus orci ac auctor augue mauris. Sodales ut eu sem integer vitae justo eget magna fermentum. Amet risus nullam eget felis eget nunc lobortis. Diam in arcu cursus euismod quis viverra. Ultrices neque ornare aenean euismod elementum nisi. Viverra accumsan in nisl nisi scelerisque eu. Eu nisl nunc mi ipsum faucibus vitae aliquet. Neque ornare aenean euismod elementum nisi quis. Blandit turpis cursus in hac habitasse. Sed id semper risus in hendrerit. In eu mi bibendum neque egestas congue quisque egestas. Nunc aliquet bibendum enim facilisis. Gravida cum sociis natoque penatibus. Lacus suspendisse faucibus interdum posuere lorem. Donec pretium vulputate sapien nec sagittis aliquam. Tortor at auctor urna nunc id cursus. Consectetur adipiscing elit duis tristique.

    Amet massa vitae tortor condimentum lacinia quis. Enim nec dui nunc mattis enim ut. Lacus vel facilisis volutpat est velit egestas. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam purus. Ut ornare lectus sit amet est placerat in egestas erat. Ullamcorper eget nulla facilisi etiam dignissim diam quis enim. Diam sollicitudin tempor id eu nisl nunc. Congue quisque egestas diam in arcu cursus euismod quis. Mattis pellentesque id nibh tortor. Amet purus gravida quis blandit turpis. Dui sapien eget mi proin. Tortor at risus viverra adipiscing. Mauris in aliquam sem fringilla ut morbi tincidunt augue interdum. Cras fermentum odio eu feugiat pretium nibh. Viverra nam libero justo laoreet. Vestibulum morbi blandit cursus risus at.
    
    Mi eget mauris pharetra et ultrices. Nunc non blandit massa enim nec dui nunc. Risus in hendrerit gravida rutrum quisque. Ullamcorper dignissim cras tincidunt lobortis feugiat. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Adipiscing diam donec adipiscing tristique risus nec. Amet est placerat in egestas erat. Augue ut lectus arcu bibendum at varius vel. Tortor aliquam nulla facilisi cras fermentum odio. Lectus nulla at volutpat diam ut venenatis. Auctor neque vitae tempus quam pellentesque nec nam aliquam sem. Sagittis orci a scelerisque purus semper eget duis at tellus. Non pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Pulvinar elementum integer enim neque. At varius vel pharetra vel turpis nunc eget. Dignissim sodales ut eu sem integer vitae justo. At ultrices mi tempus imperdiet nulla malesuada. Tempor id eu nisl nunc mi ipsum faucibus. Habitant morbi tristique senectus et netus et.
    
    Sapien eget mi proin sed. Interdum consectetur libero id faucibus nisl tincidunt eget nullam. Augue mauris augue neque gravida in fermentum. Quam pellentesque nec nam aliquam sem et. Integer enim neque volutpat ac. Risus sed vulputate odio ut enim blandit volutpat. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Egestas integer eget aliquet nibh praesent tristique. A cras semper auctor neque vitae. Morbi tristique senectus et netus et. Enim sed faucibus turpis in. Vestibulum sed arcu non odio. Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Tristique nulla aliquet enim tortor at auctor. Dapibus ultrices in iaculis nunc. Magna etiam tempor orci eu lobortis elementum nibh tellus.
    
    Cras pulvinar mattis nunc sed. Ridiculus mus mauris vitae ultricies leo integer malesuada. Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Ut tortor pretium viverra suspendisse. Rutrum quisque non tellus orci ac. Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget. Facilisi etiam dignissim diam quis enim lobortis scelerisque. Sit amet justo donec enim. Odio ut sem nulla pharetra diam sit amet.</p>
<%- include('./partials/footer.ejs') %>

</div>
</body>
</html>