<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" defer src="/javascripts/script_index.js"></script>
    <title>Reports</title>
    <%- include('./partials/header.ejs') %>
    <form action="/reports/reportsfound" method="post">
</head>
<body>
    <h1>Get a report for a user</h1>
    <img src="./images/stars.png" class="stars_r">
    <div class="container_report">
        <div class="form_r">
            <label for="fname">First Name: </label>
            <input type="text" id="fname" name="fname" required>
        </div>

        <div class="form_r">
            <label for="surname">Surname: </label>
            <input type="text" id="surname" name="surname" required>
        </div>

        <div class="form_r">
            <input type="submit" id="submitReport" value="View Report">
        </div>
    </div>
    <img src="./images/astronomer.png" class="astronomer">
    <%- include('./partials/footer.ejs') %>
</body>

</html>
